################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TennisGame.Tests/.vs/TennisGame.Tests/v16
